<aside class="menu">
    <p class="menu-label">
      CURSOS
    </p>
    <ul class="menu-list">
      <li>
        <a class="navbar-item" href="/cursos/programar-curso">
            Programar curso
        </a>
      </li>
      <li>
        <a class="navbar-item" href="/cursos/cursos-programados">
            Cursos programados
        </a>
      </li>
      <li>
        <a class="navbar-item" href="/cursos/cursos-disponibles">
            Cursos disponibles
        </a>
      </li>
    </ul>
  </aside>